Flask
Flask-RESTful
Flask-SQLAlchemy
Flask-Babel
Flask-Caching
Flask-Migrate
GeoAlchemy2
psycopg2-binary
requests
scikit-learn
tensorflow
geopandas
pandas
numpy
python-dotenv
gunicorn
alambic
SQLAlchemy